* {
    box-sizing: border-box;
}

.Client-container{
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    margin-left: 200px;
   
}

.Client-container > div.Client-header {
    
    color: #222;
    
    font-size: 30px;
    align-items: center;
    margin-bottom: 33px;
    padding: 30px 5px 0;
    
}

.Client-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1490px;
    height: 200px;
    
}


.Agents{
    padding: 20px;
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    
}

.Agents > p {
    text-align: center;
    font-size: 20px;
}

.client-table-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    font-size: 20px;
    background-color: #8A7F7F;
    margin-right: 10px;
}   

.Agents > .view-all-client-button {
    background-color: #F2F5FA;
    color: #222;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

@media screen and (max-height: 1080px) {
    .Client-content {
        width: 90%;
        height: 200px;
    }
}
