.delivery-records-container{
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    margin-left: 200px;
    margin-right: 1%;
}



.delivery-records-container > div.delivery-record-header {
    
    color: #222;
    font-size: 30px;
    align-items: center;
    margin-bottom: 9px;

    
}


.delivery-records-content > div.delivery-data-field{  
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.delivery-record-header{
    display: flex;
    gap: 20px; 
    align-items: center;
    color: #222;
    font-size: 30px;


}

.delivery-record-header h2 {
    margin: 0;
    font-size: 30px;
}

.delivery-record-search {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.delivery-data-field {
    padding: 20px 5px 10px 5px;
    background-color: white;;
}
.delivery-table {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    border-radius: 10px;
}

.delivery-table > table {
    width: 100%;
    padding: 20px 5px 10px 5px;
    
}



.delivery-table > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    background-color: #F2F5FA;
  
   
}

.delivery-table > table > tbody > tr > td {
    background-color: white;
    text-align: left;
    padding: 20px 5px 10px 5px;
  
    
}   

.control-options-delivery {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.control-options-delivery > button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}