.monthly-data-container {
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    margin-left: 200px;
    margin-right: 1%;
}

.monthly-data-container p {
    font-size: 30px;
    margin-bottom: 20px;
}

.client-counter-container {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}


.client-counter-container > .total-clients, .partner-item {
    background-color: white;
    padding: 20px;;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    height: 100%;
    width: 25%;
    height: 100%;
    
    
}

