

  
  .login-container {
    display: flex;
  justify-content: center;
  align-items: center;

  /* lighter purple with white mix */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6) 0%,   /* white with 60% opacity */
    rgba(143, 113, 177, 0.6) 50%,  /* lighter purple */
    rgba(124, 49, 210, 0.6) 100%   /* darker purple */
  );

  border-image: linear-gradient(to bottom, #ffffff 0%, #7c31d2 100%);
  min-height: 100vh;
  height: 100%;

  /* transparent background instead of solid */
  background-color: transparent;

  
    
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
  
  .logo-panel {
    background-color: #7c31d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .logo-panel img {
    max-width: 100%;
    max-height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.1));
  }
  
  .right-panel {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .right-panel h2 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
     padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #8F71B1;
  
  }
  
button {
    
 padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    
    
}
  
 .button-wrapper{ 
  place-items: center; 
  display: grid;
  margin-top: 20px;

 }
  
.btn-button:hover {
    background-color: #8F71B1;
  }

  