.claims-records-container-moderator {
  background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;
max-width: 100%;         
overflow-x: hidden; 
}

.claims-title-moderator{
  margin: 10;
  font-size: 24px;
  font-weight: 600;
}

.claims-records-container-moderator > div.claims-record-header-moderator {
    
    color: #222;
    font-size: 30px;
    align-items: center;
    margin-bottom: 9px;

    
}


.claims-records-content-moderator > div.claims-data-field-moderator{  
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.claims-record-header-moderator{
 display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;


}

.claims-record-header-moderator h2 {
    margin: 0;
    font-size: 30px;
}

.claims-record-search-moderator {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.claims-data-field-moderator {
    padding: 20px 5px 10px 5px;
    background-color: white;;
}
.claims-table-moderator {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    border-radius: 10px;
}

.claims-table-moderator > table {
    width: 100%;
    padding: 20px 5px 10px 5px;
    
}



.claims-table-moderator > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    background-color: #F2F5FA;
  
   
}

.claims-table-moderator > table > tbody > tr > td {
    background-color: white;
    text-align: left;
    padding: 20px 5px 10px 5px;
  
    
}   

.control-options-claims-moderator {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.control-options-claims-moderator > button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}