* {
    box-sizing: border-box;
}

.Client-container-moderator > div.Client-header-moderator{
    color: #222;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 5px 0;
}

.client-title-moderator {
  margin: 10;
  font-size: 24px;
  font-weight: 600;
}

.Client-header-moderator {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;

}


.Client-container-moderator{
background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;
max-width: 100%;         
overflow-x: hidden; 

}


 @media (min-width: 3440px) {
  .Client-container-moderator {
    padding-left: 100px;
  }
}

 .Client-container-moderator > div.client-data-field-moderator {
    margin-top: 20px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}



/* Create button */
.btn-create-moderator {
  background-color: #2196f3;
  color: white;
}

.btn-create-moderator:hover {
  background-color: #1976d2;
}

/* Archive button */
.btn-archive-moderator {
  background-color: #e0e0e0;
  color: black;
}

.btn-archive-moderator:hover {
  background-color: #bdbdbd;
}

/* Icon style */
.btn-icon-moderator {
  font-size: 14px;
}

.btn-create-client-moderator{
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* Group for right side (buttons + profile) */
.actions-right-client-moderator {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-actions-client-moderator {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Client-content-moderator{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1400px;
    height: 200px;
}





@media screen and (max-height: 1080px) {
    .Client-content-moderator {
        width: 90%;
        height: 200px;
    }
}



.client-data-field-moderator  {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 10px;
    width: 100%;

    overflow-x: auto;
    overflow-y: visible;
    background-color: white;
    border-radius: 10px;
  
}   


@media screen and (max-height: 1080px) {
    .Client-content-moderator  {
        width: 90%;
        height: 200px;
    }
}


.Agents-moderator {
    padding: 20px;
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    
}

.Agents-moderator  > p {
    text-align: center;
    font-size: 20px;
}