* {
    box-sizing: border-box;
}

.Client-container-moderator{
  background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;
max-width: 100%;         
overflow-x: hidden; 

}

 @media (min-width: 3440px) {
  .Client-container {
    padding-left: 100px;
  }
}


.client-title-moderator {
  margin: 10;
  font-size: 24px;
  font-weight: 600;
}

.Client-container-moderator > div.Client-header-moderator {
    color: #222;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 5px 0;
}

.client-search-moderator {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.Client-header-moderator {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;
  

}

/* Create button */
.btn-create-moderator {
  background-color: #2196f3;
  color: white;
}

.btn-create-moderator:hover {
  background-color: #1976d2;
}

/* Archive button */
.btn-archive-moderator {
  background-color: #e0e0e0;
  color: black;
}

.btn-archive-moderator:hover {
  background-color: #bdbdbd;
}

/* Icon style */
.btn-icon-moderator {
  font-size: 14px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* Group for right side (buttons + profile) */
.actions-right-moderator {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-actions-moderator {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Client-content-moderator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1490px;
    height: 200px;
    
}

.Agents-moderator {
    padding: 20px;
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    
}

.Agents-moderator  > p {
    text-align: center;
    font-size: 20px;
}

.client-table-container-moderator  {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 10px;
    width: 100%;

    overflow-x: auto;
    overflow-y: visible;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}   

.Agents-moderator  > .view-all-client-button-moderator  {
    background-color: #F2F5FA;
    color: #222;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

@media screen and (max-height: 1080px) {
    .Client-content-moderator  {
        width: 90%;
        height: 200px;
    }
}
