* {
    box-sizing: border-box;
}
.dashboard-container-moderator{
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    height: auto;
    padding-left: 200px;
    
}

.dashboard-container-moderator > div.dashboard-header-moderator {
    
    color: #222;
   
    font-size: 30px;
    
     
    
}
.dashboard-content-moderator {
    display: grid;
    grid-template-areas: 
        "activeclients duesClients clients"
        "undelieveredPolicy deliveredPolicy clients"
        "recentPolicies recentPolicies clientChart";
   
    gap: 10px;     
    
   
    
}

.dashboard-content-moderator > div {
    
    padding: 10px;
    
}

.dashboard-content-moderator > div.active-clients-moderator {
    background-color: white;
    grid-area: activeclients;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    

}

.dashboard-content-moderator > div.due-clients-moderator {
    background-color: white;
    grid-area: duesClients;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   
}

.dashboard-content-moderator > div.clients-list-moderator {
    background-color: white;
    grid-area: clients;
    height: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content-moderator > div.undelivered-policy-moderator {
    background-color: white;
    grid-area: undelieveredPolicy;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content-moderator > div.delivered-policy-moderator {
    background-color: white;
    grid-area: deliveredPolicy;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.dashboard-content-moderator > div.recent-policy-moderator {
    background-color: white;
    grid-area: recentPolicies;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content-moderator > div.monthly-data-moderator {
    background-color: white;
    grid-area: clientChart;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1024px)  {
  
    .dashboard-container-moderator > div.dashboard-content-moderator {
        
        height: 90vh !important;
    }

}
