.main-area-moderator {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-area-moderator .content-area-moderator {
  width: 100%;
  background-color: #f3f3f3;
  margin-left: 250px;       /* default full sidebar width */
  transition: margin-left 0.3s ease;
  padding: 5px;           /* keep spacing inside content */
  overflow: auto;
}

.main-area-moderator .content-area-moderator.minimized {
  margin-left: 80px;       /* minimized sidebar width */
}

.content-area-wrapper-moderator {
  transform-origin: top left;  /* Scale from top-left corner */
  width: 100%;
  height: fit-content;
  min-height: 100%;
}
