.client-counter-container-moderator {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}


.client-counter-container-moderator > .total-clients-moderator, .partner-item-moderator {
    background-color: white;
    padding: 20px;;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    flex: 1 1 calc(25% - 20px);
    min-width: 250px;
    box-sizing: border-box;
    
    
}