body, html {
   margin: 0;
   padding: 0;
   background-color: #F2F5FA;
}

.nav-bar-moderator {
   position: fixed;
   background-color: orange;
   height: 100%;
   width: 200px; 
   transition: width 0.3s ease;
}

.nav-bar-moderator .logo-bar-moderator
{
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 1px 0 1px 0;
   transition: margin 1s ease
   
}


.logo-moderator {
   padding: 5px 0 5px 0;
   font-size: 20px;
   margin-left: 20px;
   font-family: 'Inter', sans-serif;


   
} 

.logo-bar-moderator .logo-moderator:hover {
   color: #ffffff;
   transition: color 0.3s ease;
}



.logo-bar-moderator .nav-bar-button {
   transition: transform 0.3s ease;
   padding: 5px 0 5px 0;
   padding-left: 10px;
   background-color: transparent;;
}


.side-bar-moderator .side-bar-item-moderator {
   padding: 30px 0 30px 0;
   color: black;
   font-size: 30px;
   text-decoration: none;
   display: block;
   background-color: #D9D9D9;
   text-align:left;
   margin-top: 5px;
   font-family: 'Inter', sans-serif;
   transition: padding 0.3s ease;
   border-radius: 8px;
   

}

.side-bar-moderator .side-bar-item-moderator:hover {
   background-color: #ffffff;
}
.side-bar-moderator .side-bar-item-moderator.active {
   background-color: #ffffff;
}

.nav-bar-moderator.minimize {
   width: 50px; 
   transition: width 0.3s ease
}

.nav-bar-moderator.minimize .nav-bar-button-moderator{
   transform: rotate(90deg);
   transition: transform 0.3s ease;
   margin-left: 0px;
 
}

.nav-bar-moderator.minimize .side-bar-moderator .side-bar-item-moderator {
   font-size: 30px;
   padding-left: 10px;
   transition: padding 0.3s ease;
   padding: 5px 0 5px 0;
   text-align: center;
   
}
.side-bar-label-moderator {
   display: flex;
   align-items: center;
   gap: 18px; 
   font-size: 22px;
   padding-left: 10px;
   font-size: 20px;
}
 
.side-bar-icon-moderator {
   font-size: 22px; 
}




@media screen and (min-height: 300px) and (max-height: 900px) {
   .nav-bar-moderator {
      width: 180px; 
      
   }
   
   .nav-bar .logo-moderator {
      padding: 10px;
      
   }
   
   .nav-bar-moderator .nav-bar-button-moderator {
      margin-left: -5px;
      
   }

   .side-bar-moderator .side-bar-item-moderator {
      font-size: 20px;
      padding: 15px 0 15px 0;
      transition: padding 0.3s ease;
   }
}

@media screen and (max-height: 1080px) {
   .nav-bar-moderator {
      width: 180px; 
      
   }
   
   .nav-bar-moderator  .logo-moderator  {
      padding: 10px;
      
   }
   
   .nav-bar-moderator  .nav-bar-button-moderator  {
      margin-left: -5px;
      
   }

   .side-bar-moderator  .side-bar-item-moderator  {
      font-size: 20px;
      padding: 15px 0 15px 0;
      transition: padding 0.3s ease;
   }
   
 }

 


