body, html {
  margin: 0;
  padding: 0;
  background-color: #F2F5FA;
}



.nav-bar-moderator {
  position: fixed;
  background-color: #FFFFFF;
  height: 100%;
  width: 300px;
  transition: width 0.3s ease;
  border-right: 5px solid transparent;
  display: flex;
  flex-direction: column;
}

/* LOGO AREA */
.logo-container-moderator {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.nav-logo-img-moderator {
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 25%;
  border: 2px solid #402158;
  background-color: #402158;
  padding: 3px;
  margin-left: 10px;
}

.logo-moderator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  margin: 0;
}

/* Divider line */
.nav-divider-moderator {
  border: none;
  border-top: 2px solid #B5B5B5;
  margin: 25px 25px 15px 25px;
  opacity: 0.5;
}

/* SIDEBAR AREA */
.side-bar-container-moderator {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.moderator-top-links {
  flex: 1;
}

.moderator-bottom-links {
  margin-top: auto;
  padding: 15px 0;
}

/* ITEMS */
.side-bar-item-moderator {
  padding: 30px 0;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  display: block;
  background-color: #fff;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease, padding 0.3s ease;
  border-radius: 5px;
}

.side-bar-item-moderator:hover {
  background-color: #f0f0f0;
}

.side-bar-item-moderator.active {
  color: #7B5F97;
}

/* LABELS & ICONS */
.side-bar-label-moderator {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 20px;
  padding-left: 10px;
}

.side-bar-icon-moderator {
  font-size: 20px;
}

/* RESPONSIVE */
@media screen and (min-height: 300px) and (max-height: 900px) {
  .nav-bar-moderator {
    width: 180px;
  }

  .side-bar-item-moderator {
    font-size: 20px;
    padding: 15px 0;
  }
}

@media screen and (max-height: 1080px) {
  .nav-bar-moderator {
    width: 230px;
  }

  .side-bar-item-moderator {
    font-size: 20px;
    padding: 15px 0;
  }
}
