* {
    box-sizing: border-box;
}

.Policy-container-moderator > div.Policy-header-moderator {
    
    color: #222;
    font-size: 30px;
    margin-bottom: 33px;
    padding: 30px 5px 0;

}
.policy-title-moderator{
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.Policy-header-moderator {
   display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;
}

.policy-search-moderator {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.Policy-container-moderator{
background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;
max-width: 100%;         
overflow-x: hidden; 

    
}

.Policy-container-moderator > div.policy-data-field-moderator {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   
}

.policy-table-moderator {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    border-radius: 10px;
    
   
}
.policy-table-moderator > table > thead {
    background-color: #F2F5FA;
    
 
}
.policy-table-moderator > table > thead > tr {
    background-color: #F2F5FA;
    border-style: solid;
}


.policy-table-moderator > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: #222;
   
    
}

.control-options-moderator {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.control-options-moderator > button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}