* {
    box-sizing: border-box;
}

.Policy-container-moderator{
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    margin-left: 200px;
    margin-right: 1%; 
}

.Policy-container-moderator > div.policy-data-field-moderator {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   
}


.Policy-container-moderator > div.Policy-header-moderator {
    
    color: #222;
    font-size: 30px;
    margin-bottom: 33px;
    padding: 30px 5px 0;

}

.Policy-content-moderator {
    background-color: #8A7F7F;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
}



.policy-btn-moderator {
    padding: 30px 0;
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.policy-btn-moderator:hover {
    background-color: #eee;
}


.Policy-header-moderator {
    display: flex;
    gap: 20px; 
    align-items: center;
    color: #222;
    font-size: 30px;
    margin-bottom: 33px;
    padding: 30px 5px 0;
    width: 95%;
}

.Policy-header-moderator h2 {
    margin: 0;
    font-size: 30px;
}

.policy-search-moderator {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.button-container-moderator > button.policy-btn-moderator {
    padding: 30px 50px;
}


.policy-table-moderator {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    border-radius: 10px;
    
   
}
.policy-table-moderator > table > thead {
    background-color: #F2F5FA;
    
 
}

.policy-table-moderator > table > thead > tr {
    background-color: #F2F5FA;
    border-style: solid;
}


.policy-table-moderator > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: #222;
   
    
}

.control-options-moderator {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.control-options-moderator > button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}