* {
    box-sizing: border-box;
}

.claims-container{
background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;
max-width: 100%;         
overflow-x: hidden; 
}

.claims-title {
  margin: 10;
  font-size: 24px;
  font-weight: 600;
}

.claims-search {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.claims-container > div.claims-header {
    
    color: #222;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 5px 0;

    
}

.claims-header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;

}

.claims-records-content > div.claims-data-field{  
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.claims-data-field {
    padding: 20px 5px 10px 5px;
    background-color: white;;
}

.claims-table {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    border-radius: 10px;
}

.claims-table > table {
    width: 100%;
    padding: 20px 5px 10px 5px;
    
}

.claims-table > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    background-color: #F2F5FA;
  
   
}

.claims-table > table > tbody > tr > td {
    background-color: white;
    text-align: left;
    padding: 20px 5px 10px 5px;
  
    
}   

.control-options-claims {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.control-options-claims > button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}