.client-table {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0 0;
    border-radius: 10px;
}

.table-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;

    scroll-behavior: smooth;
}


.client-table > .table-scroll-wrapper > table {
    width: 100%;
    min-width: 1200px; 
    padding: 20px 5px 10px 5px;
    border-collapse: collapse;
}

.client-table > .table-scroll-wrapper > table > thead > tr > th {
     padding: 20px 15px;
    text-align: left;
   
    background-color: #F2F5FA;
    white-space: nowrap; 
    min-width: 150px; 
}

.client-table > .table-scroll-wrapper > table > tbody > tr > td {
    text-align: left;
    padding: 25px 15px 40px;
    white-space: nowrap;
    
    min-width: 120px; 
}

tr:hover {
  background-color: #f0f0f0;
}

.clickable-row {
    cursor: pointer;
    
    font-size:20px;

}
.clickable-row > td {
  padding: 12px;

}

.clickable-row:hover {
  background-color: #e6f7ff;
}



.actions-button-client-table .edit-btn-client .archive-btn-client {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    max-width: 90px;
    min-width: 100px;
    
}

.edit-btn-client, .archive-btn-client {
    margin: 3px;
    padding: 15px;
}


.table-scroll-wrapper::-webkit-scrollbar {
    height: 8px;
}

.table-scroll-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}