* {
    box-sizing: border-box;
}

.Client-container{
  background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;
max-width: 100%;         
overflow-x: hidden; 

}

 @media (min-width: 3440px) {
  .Client-container {
    padding-left: 100px;
  }
}


.client-title {
  margin: 10;
  font-size: 24px;
  font-weight: 600;
}

.Client-container > div.Client-header {
    color: #222;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 5px 0;
}

.client-search {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.Client-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;

}

/* Create button */
.btn-create {
  background-color: #2196f3;
  color: white;
}

.btn-create:hover {
  background-color: #1976d2;
}

/* Archive button */
.btn-archive {
  background-color: #e0e0e0;
  color: black;
}

.btn-archive:hover {
  background-color: #bdbdbd;
}

/* Icon style */
.btn-icon {
  font-size: 14px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* Group for right side (buttons + profile) */
.actions-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.Client-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1400px;
    height: 200px;
}

/* Container for all cards */
.Agents-container {
  display: flex;
  gap: 20px;         /* space between cards */
  justify-content: flex-start; 
  flex-wrap: wrap;   /* responsive, wraps to next line */
  margin: 20px 0;
}

/* Each card */
.Agents {
  flex: 1 1 250px;  
  padding: 20px;
  background-color: white;
  font-size: 16px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header: icon + title */
.agent-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

/* Placeholder icon */
.agent-icon {
  font-size: 24px;
  color: #222;
  
}

.Agents > p {
  font-size: 16px;
  margin: 15px 0;
}

.view-all-client-button {
  background-color: #F2F5FA;
  color: #222;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.view-all-client-button:hover {
  background-color: #e0e0e0;
}

.client-table-container {
    margin-top: 20px;
    font-size: 20px;
    margin-right: 10px;
    width: 100%;

    overflow-x: auto;
    overflow-y: visible;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-height: 1080px) {
    .Client-content {
        width: 90%;
        height: 200px;
    }
}

