.client-table {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0 0;
    border-radius: 10px;
}

.table-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;

    scroll-behavior: smooth;
}


.client-table > .table-scroll-wrapper > table {
    width: 100%;
    min-width: 1200px; 
    padding: 20px 5px 10px 5px;
    border-collapse: collapse;
}

.client-table > .table-scroll-wrapper > table > thead > tr > th {
     padding: 20px 15px;
    text-align: left;
    font-size: 20px;
    background-color: #F2F5FA;
    white-space: nowrap; 
    min-width: 150px; 
}

.client-table > .table-scroll-wrapper > table > tbody > tr > td {
    text-align: left;
    padding: 25px 15px;
    white-space: nowrap;
    min-width: 120px; 
}

tr:hover {
  background-color: #f0f0f0;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
  background-color: #e6f7ff;
}


.table-scroll-wrapper::-webkit-scrollbar {
    height: 8px;
}

.table-scroll-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}