.main-area {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-area .content-area {
  width: 100%;
  background-color: #f3f3f3;
  margin-left: 250px;       /* default full sidebar width */
  transition: margin-left 0.3s ease;
  padding: 5px;           /* keep spacing inside content */
}

.main-area .content-area.minimized {
  margin-left: 80px;       /* minimized sidebar width */
}


