* {
    box-sizing: border-box;
}
.monthly-data-container {
background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;

max-width: 100%;         
overflow-x: hidden; 
}

.reports-title{
margin: 10;
font-size: 24px;
font-weight: 600;
}

.monthly-data-search {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}
.monthly-data-header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;


}

.monthly-data-container > div.monthly-data-header{
    color: #222;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px 5px 0;
}

.monthly-data-container > div.policy-data-field{
      background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.monthly-data-container > div.claims-table{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.delivery-title{
 margin: 10;
font-size: 24px;
font-weight: 600;
}

.monthly-data-container >div.delivery-table{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.monthly-data-container > div.client-payment-table{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}