body, html {
   margin: 0;
   padding: 0;
   background-color: #F2F5FA;
}

.nav-bar {
   position: fixed;
   background-color: #DADADA;
 
   height: 100%;
   width: 300px; 
   transition: width 0.3s ease;
   border-right: 5px solid transparent;
   
   /*border-image-slice: 1;
   border-left: none;
   border-bottom: none;
   border-top: none;*/
   
   display: flex;             
  flex-direction: column; 


}

.side-bar-container {
  display: flex;
  flex-direction: column;
  flex: 1;            /*  takes all remaining height below logo */
  overflow-y: auto;   /* optional scroll if too many items */
}

.top-links {
  flex: 1;            /*  pushes bottom-links down */
}

.bottom-links {
  margin-top: auto;   /*  force it to bottom */
  padding: 15px 0;
}

.nav-bar .logo-bar
{
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 1px 0 1px 0;
   transition: margin 1s ease
   
}


.logo {
   padding: 5px 0 5px 0;
   font-size: 20px;
   margin-left: 10px;
   font-family: 'Inter', sans-serif;


   
} 

.logo-bar .logo:hover {
   color: #ffffff;
   transition: color 0.3s ease;
}



.logo-bar .nav-bar-button {
   transition: transform 0.3s ease;
   padding: 5px 0 5px 0;
   padding-left: 25px;
   background-color: transparent;
}


.side-bar .side-bar-item {
   padding: 30px 0 30px 0;
   color: #000000;
   font-size: 30px;
   text-decoration: none;
   display: block;
   background-color: #DADADA;
   text-align:left;
   font-family: 'Inter', sans-serif;
   transition: padding 0.3s ease;
   border-radius: 8px;
   

}

.side-bar .side-bar-item:hover {
   background-color: #8F71B1;
   color: #ffffff;
}
.side-bar .side-bar-item.active {
   background-color: #8F71B1;
   color: #ffffff;
}

.nav-bar.minimize {           /* little side bar*/
   width: 80px;                    
   transition: width 0.3s ease
}

/*.nav-bar.minimize .nav-bar-button{
   transform: rotate(90deg);
   transition: transform 0.3s ease;
   margin-left: 0px;
 
}*/

.nav-bar.minimize .side-bar .side-bar-item {
   font-size: 20px;
  
   transition: padding 0.3s ease;
   text-align: center;
   
}


.side-bar-label {
   display: flex;
   align-items: center;
   gap: 18px; 
   font-size: 22px;
   padding-left: 10px;
   font-size: 20px;
}
 
.side-bar-icon {
   font-size: 20px; 
}




@media screen and (min-height: 300px) and (max-height: 900px) {
   .nav-bar {
      width: 180px; 
      
   }
   
   .nav-bar .logo {
      padding: 10px;
      
   }
   
   .nav-bar .nav-bar-button {
      margin-left: -5px;
      
   }

   .side-bar .side-bar-item {
      font-size: 20px;
      padding: 15px 0 15px 0;
      transition: padding 0.3s ease;
   }
}

@media screen and (max-height: 1080px) {
   .nav-bar {
      width: 230px; 
      
   }
   
   .nav-bar .logo {
      padding: 10px;
      
   }
   
   .nav-bar .nav-bar-button {
      margin-left: -5px;
      
   }

   .side-bar .side-bar-item {
      font-size: 20px;
      padding: 15px 0 15px 0;
      transition: padding 0.3s ease;
   }
   
 }

 .side-bar-item.active {
   background-color: #F6F4FE;
   color: #F6F4FE;
   
 }
