body, html {
   margin: 0;
   padding: 0;
   background-color: #F2F5FA;
}

.nav-bar {
   position: fixed;
   background-color: #FFFFFF;
 
   height: 100%;
   width: 300px; 
   transition: width 0.3s ease;
   border-right: 5px solid transparent;
   
   /*border-image-slice: 1;
   border-left: none;
   border-bottom: none;
   border-top: none;*/
   
   display: flex;             
  flex-direction: column; 


}
/*****************************************************************************************************************/
.logo-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* align everything to the left */
  padding: 20px 0 15px 15px; /* space from top and left edges */
}

.logo-container {
  display: flex;
  align-items: center; /* centers image + text vertically */
  gap: 1px; /* space between image and text */
  margin-top: 25px;
}

.nav-logo-img {
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 25%;
  border: 2px solid #402158; /* purple border */
  background-color: #402158;
  padding: 3px; /* inner spacing inside border */
  margin-left: 10px;
}

.logo {
  display: flex;
  flex-direction: column; /* stack Silverstar / Insurance */
  justify-content: center;
  line-height: 1.1;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  margin: 0; /* remove default text margin */
}

/* Divider line between logo and links */
.nav-divider {
  border: none;
  border-top: 2px solid #B5B5B5;
  margin: 25px 25px 15px 25px;
  opacity: 0.5;
}



/*****************************************************************************************************************/

.side-bar-container {
  display: flex;
  flex-direction: column;
  flex: 1;            /*  takes all remaining height below logo */
  overflow-y: auto;   /* optional scroll if too many items */
}

.top-links {
  flex: 1;            /*  pushes bottom-links down */
}

.bottom-links {
  margin-top: auto;   /*  force it to bottom */
  padding: 15px 0;
}

.nav-bar .logo-bar
{
   height: 100px;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 1px 0 1px 0;
   transition: margin 1s ease
   
}


.logo {
   padding: 5px 0 5px 0;
   font-size: 20px;
   margin-left: 10px;
   font-family: 'Inter', sans-serif;


   
} 

.logo-bar .logo:hover {
   color: #ffffff;
   transition: color 0.3s ease;
}



.logo-bar .nav-bar-button {
   transition: transform 0.3s ease;
   padding: 5px 0 5px 0;
   padding-left: 25px;
   background-color: transparent;
}


.side-bar .side-bar-item {
   padding: 30px 0 30px 0;
   color: #000000;
   font-size: 30px;
   text-decoration: none;
   display: block;
   background-color: #ffffff;
   text-align:left;
   font-family: 'Inter', sans-serif;
   transition: padding 0.3s ease;
   border-radius: 5px;
     font-weight: 600;
   

}

.side-bar .side-bar-item:hover {
   background-color: #f0f0f0;

}
.side-bar .side-bar-item.active {

   color: #402158;
   background-color: #e2d5ef;
}

.nav-bar.minimize {           /* little side bar*/
   width: 80px;                    
   transition: width 0.3s ease
}

/*.nav-bar.minimize .nav-bar-button{
   transform: rotate(90deg);
   transition: transform 0.3s ease;
   margin-left: 0px;
 
}*/

.nav-bar.minimize .side-bar .side-bar-item {
   font-size: 20px;
  
   transition: padding 0.3s ease;
   text-align: center;
   
}


.side-bar-label {
   display: flex;
   align-items: center;
   gap: 18px; 
   font-size: 22px;
   padding-left: 10px;
   font-size: 20px;
}
 
.side-bar-icon {
   font-size: 20px; 
}




@media screen and (min-height: 300px) and (max-height: 900px) {
   .nav-bar {
      width: 180px; 
      
   }
   
   .nav-bar .logo {
      padding: 10px;
      
   }
   
   .nav-bar .nav-bar-button {
      margin-left: -5px;
      
   }

   .side-bar .side-bar-item {
      font-size: 20px;
      padding: 15px 0 15px 0;
      transition: padding 0.3s ease;
   }
}

@media screen and (max-height: 1080px) {
   .nav-bar {
      width: 230px; 
      
   }
   
   .nav-bar .logo {
      padding: 10px;
      
   }
   
   .nav-bar .nav-bar-button {
      margin-left: -5px;
      
   }

   .side-bar .side-bar-item {
      font-size: 20px;
      padding: 15px 0 15px 0;
      transition: padding 0.3s ease;
   }
   
 }

