* {
    box-sizing: border-box;
}

.Policy-container{
background-color: #F2F5FA;
font-family: 'Inter', sans-serif;
height: auto;
max-width: 100%;         
overflow-x: hidden; 
    
}

.Policy-container > div.Policy-header {
    
    color: #222;
    font-size: 30px;
    margin-bottom: 33px;
    padding: 30px 5px 0;

}

.policy-title{
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.policy-search {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}

.Policy-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  position: relative;
}

.policy-table > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: #222;
   
    
}

.control-options {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.control-options > button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.Policy-container > div.policy-data-field {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   
}

/*----------------------------------------------------------------------------------*/

