* {
    box-sizing: border-box;
}

.Policy-container{
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    margin-left: 200px;
    
}

.Policy-container > div.policy-data-field {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 20px 5px 10px 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   
}


.Policy-container > div.Policy-header {
    
    color: #222;
    font-size: 30px;
    margin-bottom: 33px;
    padding: 30px 5px 0;

}

.Policy-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
}


.left-actions {
  display: flex;
  align-items: center;
  gap: 12px; 
}


.right-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.policy-btn {
    padding: 30px 0;
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.policy-btn:hover {
    background-color: #eee;
}


.Policy-header {
    display: flex;
    gap: 20px; 
    align-items: center;
    color: #222;
    font-size: 30px;
    margin-bottom: 33px;
    padding: 30px 5px 0;
    width: 95%;
}

.Policy-header h2 {
    margin: 0;
    font-size: 30px;
}

.policy-search {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 250px;
}


.policy-table {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    border-radius: 10px;
    
   
}
.policy-table > table > thead {
    background-color: #F2F5FA;
    
 
}

.policy-table> table > thead > tr {
    background-color: #F2F5FA;
    border-style: solid;
}


.policy-table > table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: #222;
   
    
}

.control-options {
    display: flex;
    gap: 20px;
    margin-left: 10px;
}

.control-options > button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}